<!--   发药取号   -->

<div ui-view>
	<div class="container">
		<div class="m-index" ng-if="status == 1">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">
					请选择您要取药的处方号<br /> 姓名：{{app.user_info.PatName}} {{app.user_info.PatSex == 1 ? '&nbsp;男' : ''}} {{app.user_info.PatSex == 2 ? '&nbsp;女' : ''}} {{app.user_info.PatSex == 9 ? '&nbsp;未知' : ''}}
				</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>

			<!--   预约取号   -->
			<div class="m-take-list">
				<div class="list-body">
					<table>
						<tr>
							<th style="text-align: center;">序号</th>
							<th>药品名称</th>
							<th>开单科室</th>
							<th>出药数量</th>
							<th>是否发药</th>
							<!--<th style="text-align: center;">操作</th>-->
						</tr>
						<tr ng-repeat="item in data.page.row" ng-class="{true:'checked'}[item.checked ? true : false]">
							<td style="text-align: center;">{{item.index}}</td>
							<td>{{item.MedName}}</td>
							<td>{{item.PresKB}}</td>
							<td>{{item.MedAMT}}</td>
							<td>
								<span ng-if="item.medicine_WindowNO == ''">未发药</span>
								<span ng-if="window_end && item.medicine_WindowNO != ''">已发药</span>
							</td>
							<!--<td style="text-align: center;">
								<a class="btn btn-danger" ui-sref="app.medicine.info({PrescRecordID:item.PrescRecordID})">明细</a>
							</td>-->
						</tr>
						<tr ng-if="items_loadding">
							<td colspan="30" class="text-center">数据读取中</td>
						</tr>
						<tr ng-if="data.page.row.length < 1 && !items_loadding">
							<td colspan="30" class="text-center">未查询到数据</td>
						</tr>
					</table>
					<div class="page clearfix">
						<span class="pull-left"></span>
						<div class="pull-right">
							<a class="btn btn-main" ng-if="!(data.page.pageIndex == 1)" ng-click="data.page.pageFn(data.page.pageIndex - 1)">上一页</a>
							<a class="btn btn-main" ng-if="!(data.page.total <= data.page.pageIndex * data.page.pageSize)" ng-click="data.page.pageFn(data.page.pageIndex + 1)">下一页</a>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-blue btn-danger" ng-disabled="!show_btn" ng-if="data.page.row.length > 0" ng-click="medicine()">{{title_btn}}</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!--   系统正在处理中   -->
		<div class="m-card-id" ng-if="status == 2">
			<div class="m-card-header clearfix">
				<div class="title"></div>
			</div>

			<div class="card-id-desc">
				<div class="desc-msg">
					<span>系统正在处理，请稍后。。。</span>
				</div>
			</div>
		</div>

		<!--   成功   -->
		<div class="m-card-id" ng-if="status == 3">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title"></div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>

			<div class="card-id-desc">
				<div class="desc-msg">
					<span>取号成功,请取走您的取药凭条。</span>
				</div>
			</div>
		</div>

	</div>
</div>