<!--  住院清单    -->
<div ui-view>
	<div class="container">

		<div class="m-index" ng-if="status == 1">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title"></div>
			</div>
			<!--   挂号    -->
			<div class="m-card-dep">
				<div class="dep-modal" style="width: 610px; padding: 40px;">
					<h4>请选择您要查询的方式：</h4>
					<div class="dep-modal-btn">
						<a class="btn btn-main" ng-click="statusID()">身份证</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-main" ng-click="statusCARD()">诊疗卡</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-main disabled">社保卡</a>
					</div>
				</div>
			</div>

		</div>

		<!--  放置身份证  -->
		<div class="m-card-id" ng-if="status == 2">
			<div class="m-card-header clearfix">
				<div class="title">
					<p>请把您的二代身份证放到有身份证标示的读卡区。</p>
					<p>
						<font size="4" color="red">注意：二代身份证应该放置在感应区，切勿插入卡口。</font>
					</p>
				</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>

			<div class="card-id-img">
				<img src="img/module/card/card_id.png" />
			</div>
		</div>

		<div class="m-index" ng-if="status == 3">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">
					住院清单 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名：{{PatName}} {{PatSex == 1 ? '&nbsp;男' : ''}} {{PatSex == 2 ? '&nbsp;女' : ''}} {{PatSex == 9 ? '&nbsp;未知' : ''}}
					<div class="m-hospital-date">
						选择住院日期：
						<input class="form-control" type="text" ng-model="data.form.startDate" lay-date data-laytype="date" data-scope="data.form.startDate" placeholder="选择开始日期" /><span>&nbsp;-</span>
						<input class="form-control" type="text" ng-model="data.form.endDate" lay-date data-laytype="date" data-scope="data.form.endDate" placeholder="选择结束日期" />
					</div>
				</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>

			<!--   预约取号   -->
			<div class="m-take-list">

				<div class="list-body">
					<table>
						<tr>
							<th style="text-align: center;">序号</th>
							<th>项目类型</th>
							<th>项目名称</th>
							<th class="text-right">单价</th>
							<th class="text-right">数量</th>
							<th class="text-right">金额</th>
						</tr>
						<tr ng-repeat="item in data.page.row" ng-class="{true:'checked'}[item.checked ? true : false]">
							<td style="text-align: center;">{{item.index}}</td>
							<td>{{item.ItemClass}}</td>
							<td>{{item.ItemName}}</td>
							<td class="text-right">{{item.Price}}</td>
							<td class="text-right">{{item.Number}}</td>
							<td class="text-right">{{item.ItemFee}}</td>
						</tr>
						<tr ng-if="items_loadding">
							<td colspan="30" class="text-center">数据读取中</td>
						</tr>
						<tr ng-if="data.page.row.length < 1 && !items_loadding">
							<td colspan="30" class="text-center">未查询到数据</td>
						</tr>
					</table>
					<div style="text-align: right; font-size: 24px; margin-top: 10px;" ng-if="data.totalFee && data.totalFee > 0">总金额： {{data.totalFee}}元</div>
					<div class="page clearfix">
						<span class="pull-left"></span>
						<div class="pull-right">
							<a class="btn btn-main" ng-click="printAll()" ng-if="data.items_all.length > 0">打印住院总清单</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-main" ng-if="!(data.page.pageIndex == 1)" ng-click="data.page.pageFn(data.page.pageIndex - 1)">上一页</a>
							<a class="btn btn-main" ng-if="!(data.page.total <= data.page.pageIndex * data.page.pageSize)" ng-click="data.page.pageFn(data.page.pageIndex + 1)">下一页</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>