<div ui-view>
	<div class="container">
		<div class="m-index" class="m-index" ng-if="status == 1">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">
					请确认您的待缴费内容：{{data.res_item.Disease}}<br />
					姓名：{{app.user_info.PatName}}
					{{app.user_info.PatSex == 1 ? '&nbsp;男' : ''}}
					{{app.user_info.PatSex == 2 ? '&nbsp;女' : ''}}
					{{app.user_info.PatSex == 9 ? '&nbsp;未知' : ''}}
				</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>
			
			<!--   预约取号   -->
			<div class="m-take-list">
				<div class="list-body">
					<table>
						<tr>
							<th style="text-align: center;">序号</th>
							<th>名称</th>
							<th style="text-align: right;">单价</th>
							<th style="text-align: right;">数量</th>
							<th style="text-align: right;">费用</th>
						</tr>
						<tr ng-repeat="item in data.page.row" ng-class="{true:'checked'}[item.checked ? true : false]">
							<td style="text-align: center;">{{item.index}}</td>
							<td>{{item.MedicineName}}</td>
							<td style="text-align: right;">{{item.MedicineUnitCharge}}</td>
							<td style="text-align: right;">{{item.MedicineNum}}</td>
							<td style="text-align: right;">{{item.Fee}}</td>
						</tr>
						<tr ng-if="items_loadding"><td colspan="30" class="text-center">数据读取中</td></tr>
						<tr ng-if="data.page.row.length < 1 && !items_loadding"><td colspan="30" class="text-center">未查询到数据</td></tr>
					</table>
					<div class="page clearfix">
						<span class="pull-left"></span>
						<div class="pull-right">
							<a class="btn btn-main" ng-if="!(data.page.pageIndex == 1)" ng-click="data.page.pageFn(data.page.pageIndex - 1)">上一页</a>
							<a class="btn btn-main" ng-if="!(data.page.total <= data.page.pageIndex * data.page.pageSize)" ng-click="data.page.pageFn(data.page.pageIndex + 1)">下一页</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span style="font-size: 30px; line-height: 56px; display: inline-block; vertical-align: top;">总金额：<font color="red">{{data.res_item.TotalFee}}</font>元</span>
							
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-blue btn-danger" ng-click="statusOk()">缴费</a>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		
		
		<!--     -->
		<div class="m-index" ng-if="status == 2">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title"></div>
			</div>
			<!--   挂号    -->
			<div class="m-card-dep">
				<div class="dep-modal" style="width: 610px; padding: 40px;">
					<h4>您选择您的支付方式？</h4>
					<div class="dep-modal-btn">
						<a class="btn btn-main" ng-click="Payment()">银行卡</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-main disabled">支付宝</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-main disabled">微信</a>
					</div>
				</div>
			</div>
		
		</div>


		<!--   系统正在处理中   -->
		<div class="m-card-id" ng-if="status == 3">
			<div class="m-card-header clearfix">
				<div class="title"></div>
			</div>
		
			<div class="card-id-desc">
				<div class="desc-msg">
					<span>系统正在处理，请稍后。。。</span>
				</div>
			</div>
		</div>
		
		<!--   成功   -->
		<!-- <div class="m-card-id" ng-if="status == 4"> -->
			<!--   提示    -->
			<!-- <div class="m-card-header clearfix">
				<div class="title"></div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>
		
			<div class="card-id-desc">
				<div class="desc-msg">
					<span>缴费成功,请取走您的凭条与银行卡。
					<br /> 如需发票请到七号窗口打印</span>
				</div>
			</div>
		</div> -->

		<!--   是否跳转到打印到药凭条    -->
		<div class="m-index" ng-if="status == 4">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">
				</div>
				<div class="time" ng-if="countdown_time > -1">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>
			<!--   挂号    -->
			<div class="m-card-dep">
				<div style="text-align: center; font-size: 30px; color: #fff;  margin-bottom: -50px;">
					<span>缴费成功,请取走您的凭条与银行卡。
						<br /> 如需发票请到七号窗口打印</span>
				</div>
				<div class="dep-modal">
					<h4>是否需打印取药凭条：</h4>
					<p>是：进入打印凭条界面，请点击取药凭条。</p>
					<p>取消：暂不打印取药凭条。</p>
					<div class="dep-modal-btn">
						<a class="btn btn-main" ui-sref="app.medicine">是</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-main" ng-click="locationBk()">取消</a>
					</div>
				</div>
			</div>
		
		</div>
		
		
		
	</div>
</div>
