<div ui-view>
	<div class="container">
		<div class="m-index">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">
					<font color="#f05050">
						请选择您要挂号的医生：<br />
						挂号日期：{{app.server_time | date : 'yyyy年MM月dd日'}}&nbsp;{{app.server_time_week}}<br />
						姓名：{{app.user_info.PatName}}
						{{app.user_info.PatSex == 1 ? '&nbsp;男' : ''}}
						{{app.user_info.PatSex == 2 ? '&nbsp;女' : ''}}
						{{app.user_info.PatSex == 9 ? '&nbsp;未知' : ''}}
						<br />
					</font>
				</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>
			<!--   选择医生  -->
			<div class="m-card-department">
				<div class="text-center">
					<ul>
						<li class="one-ks" ng-repeat="item in data.page.row">
							<a ui-sref="app.card.department.registered.docinfo({deptName:deptName, doct_name:item.doct_name, doctorCode:item.doct_code})">
								<span>{{item.doct_name}}<br />{{item.deptName}}</span>
							</a>
						</li>
						<li class="m-card-department-none" ng-if="items_loadding">
							<div class="none-title">数据读取中</div>
						</li>
						<li class="m-card-department-none" ng-if="data.page.row.length < 1 && !items_loadding">
							<div class="none-title">没有号源</div>
						</li>
					</ul>
				</div>
				<div class="registered-page">
					<span class="pull-left"></span>
					<div class="pull-right">
						<a class="btn btn-main" ng-if="!(data.page.pageIndex == 1)" ng-click="data.page.pageFn(data.page.pageIndex - 1)">上一页</a>
						<a class="btn btn-main" ng-if="!(data.page.total <= data.page.pageIndex * data.page.pageSize)" ng-click="data.page.pageFn(data.page.pageIndex + 1)">下一页</a>
					</div>
				</div>
				
				
				
			</div>
			
			
		</div>
	</div>
</div>
