<div class="m-modal-maintain-menu">
	<div class="container">
		<div class="m-maintain-header">
			<div class="header-title">（{{items.scope.app.admin_info.role[0].roleName}}）维护中心 - 菜单</div>
			<div class="header-close">
				<a class="btn btn-info btn-002" ng-click="cancel()" >退&nbsp;出</a>
			</div>
		</div>
		<div class="login-body">
			<div class="m-maintain-menu">
				<div class="m-card-department">
					<div class="text-center">
						<ul>
							<li class="one-ks" ng-repeat="item in data.items" ng-hide="!item.checked"><a ng-click="tapClick(item)"><span>{{item.title}}</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</div>

