<div ui-view>
	<div class="container">
		<div class="m-index">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">
					报告单详情：<br />
					姓名：{{app.user_info.PatName}}
					{{app.user_info.PatSex == 1 ? '&nbsp;男' : ''}}
					{{app.user_info.PatSex == 2 ? '&nbsp;女' : ''}}
					{{app.user_info.PatSex == 9 ? '&nbsp;未知' : ''}}
				</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>
			
			<!--   预约取号   -->
			<div class="m-take-list">
				<div class="list-body">
					<table>
						<tr>
							<th style="text-align: center;">序号</th>
							<th>指标名称</th>
							<th>结果</th>
							<th>结果单位</th>
							<th>指标</th>
							<th>参考范围</th>
						</tr>
						<tr ng-repeat="item in data.page.row" ng-class="{true:'checked'}[item.checked ? true : false]">
							<td style="text-align: center;">{{item.index}}</td>
							<td>{{item.name}}</td>
							<td>{{item.result}}</td>
							<td>{{item.unit}}</td>
							<td>{{item.status}}</td>
							<td>{{item.range}}</td>
						</tr>
						<tr ng-if="items_loadding"><td colspan="30" class="text-center">数据读取中</td></tr>
						<tr ng-if="data.page.row.length < 1 && !items_loadding"><td colspan="30" class="text-center">未查询到数据</td></tr>
					</table>
					<div class="page clearfix">
						<span class="pull-left"></span>
						<div class="pull-right">
							<a class="btn btn-main" ng-if="!(data.page.pageIndex == 1)" ng-click="data.page.pageFn(data.page.pageIndex - 1)">上一页</a>
							<a class="btn btn-main" ng-if="!(data.page.total <= data.page.pageIndex * data.page.pageSize)" ng-click="data.page.pageFn(data.page.pageIndex + 1)">下一页</a>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		
		
		
	</div>
</div>
